* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input, button, textarea {
	border: none;
	outline: none;
	cursor: pointer;
}
a {
	text-decoration: none;
}
em, i {
	font-style: normal;
}
ul {
	list-style-type: none;
}
body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	transition: $transition-5;
	
	div.round-icon-slashed {
		width: 6em;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $global-font-color;
		border-radius: 100px;
		position: relative;
		
		i {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2.5rem;
			color: $white-background;
			width: 100%;
			height: 100%;
			border-radius: 100px;
			background: $dark-background;
			position: relative;
			z-index: 600;
		}
		
		&::before {
			content: "";
			width: 150%;
			height: 2px;
			background: $global-font-color;
			position: absolute;
			transform: rotate(-55deg);
			z-index: 500;
		}
	}
	
	&::before {
		transition: $transition-5;
		content: "";
		width: 100vw;
		height: 100vh;
		position: fixed;
		right: -100vw;
		z-index: 700;
		background: transparent;
	}
	
	&.opacity-7 {
		overflow: hidden;
		
		&::before {
			right: 0;
			background: hsla(0, 0%, 0%, 0.7);
		}
	}
	
	&.overflow-hidden {
		overflow: hidden;
	}
}

@media screen and (min-width: 799px) {
	
	body::before {
		display: none;
	}
}