main.home {
	width: 100%;
	
	& > section {
		width: 100%;
		min-height: 30vh;
		
		&::before {
			content: "";
			width: 30px;
			height: 5px;
			background: $global-font-color;
			border-radius: 10px;
		}
		
		&:nth-child(2) {
			background: $darkest-background;
			box-shadow: 0px -10vh 10vh $darkest-background;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: 10vh;
			padding: 5vh 5vw;
			position: relative;
			z-index: 500;
			
			h2 {
				color: $white-background;
				font-size: 2em;
			}
			
			section {
				width: 100%;
				
				figure {
					width: 100%;
					
					img {
						width: 100%;
						background-size: cover;
					}
				}
				
				article {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					gap: 1rem;
					padding: 2em 2.5em;
					background: $dark-background;
					
					&>span span {
						font-size: 1.3em;
						color: $global-font-color;
						
						&.red {
							color: $red;
						}
					}
					
					h3,
					a {
						color: $white-background;
					}
					
					p {
						color: $global-font-color;
					}
					
					a {
						padding: 1em 2em;
						border-radius: 50px;
						background: $red;
						font-weight: 600;
						position: relative;
						
						&:hover {
							color: $darkest-background;
							background: $white-background;
						}
					}
					
					div {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-start;
						gap: 1.5em;
						
						p i {
							color: hsla(0, 100%, 100%, 0.5);
							font-size: 1.1em;
							margin-right: 1rem;
						}
					}
				}
			}
		}
		
		&:nth-child(3) {
			background: $dark-background;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5vh;
			padding: 5vh 0;
			
			h2 {
				color: $white-background;
				font-size: 1.5em;
			}
			
			& > section {
				width: 90%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 5vh;
				
				article {
					width: 460px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 3rem;
					
					p {
						color: $global-font-color;
						text-align: center;
					}
				}
			}
		}
		
		&:nth-child(5) {
			background: $darkest-background;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5vh;
			padding-top: 3vh;
			
			h2,
			p,
			cite,
			span {
				color: $white-background;
			}
			
			h2, span {
				cursor: pointer;
				transition: $transition-3;
				
				&:hover {
					color: $red;
				}
			}
			
			& > section {
				width: 100%;
				
				figure {
					width: 100%;
					position: relative;
					z-index: 300;
					
					& > img {
						width: 100%;
						background-size: cover;
						background-position: center;
					}
					
					cite {
						width: 100%;
						position: absolute;
						left: 1rem;
						bottom: 1rem;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 1em;
						font-weight: 700;
						font-style: normal;
						
						img {
							border-radius: 50px;
							border: 2px solid $white-background;
						}
					} 
				}
				
				article {
					display: flex;
					flex-direction: column;
					gap: 1vh;
					box-shadow: 0px -5vh 5em $dark-background;
					position: relative;
					z-index: 350;
					padding: 3vh 2em;
					
					span {
						color: hsla(0, 100%, 100%, 0.1);
						display: flex;
						flex-direction: column;
						gap: 1em;
						letter-spacing: 1.5px;
						margin-bottom: 2vh;
						position: relative;
						
						&::after {
							content: "";
							width: 7%;
							height: 3px;
							border-radius: 100px;
							background: hsla(0, 100%, 100%, 0.1);
							position: relative;
							left: -2em;
						}
					} 
					
					p {
						color: $global-font-color;
					}
				}
				
				&:last-child {
					padding: 5vh 2em;
					background-image: url("/hamilton-8-escapium-robin-cedric-pietro/assets/resources/images/gallery/room-7.jpg");
					background-position: left;
					background-repeat: no-repeat;
					background-size: cover;
					display: flex;
					gap: 1rem;
					background-blend-mode: multiply;
					box-shadow: inset 60vw 0px 30vw $dark-background;
					
					ul {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 2rem;
						
						li {
							width: 100%;
							display: grid;
							grid-template-columns: .45fr 1fr;
							grid-template-rows: 1fr;
							font-size: 1.3rem;
							font-weight: 500;
							color: $white-background;
							text-transform: uppercase;
							letter-spacing: 2px;
							
							i {
								font-size: 2rem;
								color: $red;
								text-align: center;
							}
						}
					}
				}
			}
		}
		
		&:nth-child(6) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 3vh;
			padding: 3vh 2em;
			padding-bottom: 5vh;
			background: $darkest-background;
			
			h2 {
				color: $white-background;
			}
			
			section {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(4, 1fr);
				grid-gap: 5px;
				
				figure {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					
					img {
						width: 100%;
						position: relative;
						z-index: 200;
					}
					
					span {
						width: 100%;
						height: 100%;
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 1em;
						opacity: 0;
						background: hsla(0, 0%, 0%, 0.2);
						transition: $transition-3;
						z-index: 3000;
						
						p {
							color: $white-background;
							
							i {
								margin-right: .5em;
							}
						}
					}
					
					div {
						position: absolute;
						z-index: 3000;
						background: $red;
						transition: $transition-3;
						
						&.left {
							width: 3px;
							height: 0%;
							bottom: 0;
							left: 0;
						}
						
						&.top {
							width: 0%;
							height: 3px;
							top: 0;
							left: 0;
						}
						
						&.right {
							width: 3px;
							height: 0%;
							top: 0;
							right: 0;
						}
						
						&.bottom {
							width: 0%;
							height: 3px;
							bottom: 0;
							right: 0;
						}
					}
					
					&:hover {
						
						span {
							opacity: 1;
						}
						
						div {
							
							&.left, &.right {
								height: 100%;
							}
							
							&.top, &.bottom {
								width: 100%;
							}
						}
					}
				}
			}
			
			a:last-child {
				color: $white-background;
				padding: 1em 2em;
				font-size: 1rem;
				border-radius: 100px;
				border: 2px solid $global-font-color;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1rem;
				transition: $transition-5;
				
				i {
					font-size: 1.2rem;
				}
				
				&:hover {
					background: $red;
					border-color: $red;
				}
			}
		}
		
		&:nth-child(8) {
			min-height: 10vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 3vh;
			padding: 3vh 2em;
			
			p {
				color: hsla(0, 0%, 0%, 0.3);
				font-size: 1.2rem;
			}
			
			a {
				font-size: 1.3rem;
				font-weight: 700;
				color: $white-background;
				padding: 1em 2em;
				background: $red;
				border-radius: 100px;
				margin-top: 2vh;
				transition: $transition-3;
				
				&:hover {
					background: #d6090c;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	main.home {
		
		& > section {
			
			&:nth-child(2) {
				
				& > section {
					width: 90%;
					height: 45vw;
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					
					figure {
						height: 90%;
						
						img {
							height: 100%;
							background-position: center;
						}
					}
					
					article {
						width: 50%;
						padding: 10vh 2vw;
						box-shadow: 30vw 0 10vw $darkest-background;
						height: 100%;
					}
					
					&:nth-child(3) {
						flex-direction: row;
					}
				}
			}
			
			&:nth-child(3) {
				
				section {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: 1fr;
					
					article {
						width: auto;
						
						h2 {
							text-align: center;
						}
					}
				}
			}
			
			&:nth-child(5) {
				
				& > section {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 1vw;
					padding: 0 5vw;
				}
			}
			
			&:nth-child(6) {
				padding: 10vh 5vw;
				
				& > section {
					grid-template-columns: repeat(4, 1fr);
					grid-template-rows: repeat(2, 1fr);
				}
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	
	section#contact {
		flex-direction: row;
		& > section:nth-child(1) {
			width: 100%;
			height: 1000px;
			
			iframe {
				width: 100%;
			}
		}
	}
}