main.home {
	width: 100%;
	
	& > section {
		width: 100%;
		min-height: 30vh;
		
		&:nth-child(1) {
			min-height: 50vh;
			background-image: url("../resources/images/gallery/slide-4.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1em;
			
			h2 {
				font-size: 4rem;
				text-align: center;
				color: $white-background;
			}
			
			a {
				font-weight: 400;
				letter-spacing: 1px;
				color: hsla(0, 100%, 100%, 0.5);
				text-transform: uppercase;
				
				&:hover {
					color: $white-background;
				}
			}
		}
		
		&:nth-child(2) {
			width: 100%;
			min-height: 100vh;
			background: $darkest-background;
			box-shadow: 0px -10vh 10vh $darkest-background;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: 10vh;
			padding: 5vh 2vw;
			
			&::before {
				content: "";
				width: 5vw;
				height: 2px;
				border-radius: 2px;
				background: $global-font-color;
			}
			
			h2 {
				color: $white-background;
				font-size: 2em;
			}
			
			section {
				width: 100%;
				background: $dark-background;
				
				figure {
					width: 100%;
					
					img {
						width: 100%;
						background-size: cover;
					}
				}
				
				article {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					gap: 1rem;
					padding: 2em 2.5em;
					
					&>span span {
						font-size: 1.3em;
						color: $global-font-color;
						
						&.red {
							color: $red;
						}
					}
					
					h3,
					a {
						color: $white-background;
					}
					
					p {
						color: $global-font-color;
					}
					
					a {
						padding: 1em 2em;
						border-radius: 50px;
						background: $red;
						font-weight: 600;
						position: relative;
						
						&:hover {
							color: $darkest-background;
							background: $white-background;
						}
					}
					
					div {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-start;
						gap: 1.5em;
						
						p i {
							color: hsla(0, 100%, 100%, 0.5);
							font-size: 1.1em;
							margin-right: 1rem;
						}
					}
				}
			}
		}
		
		&:nth-child(3) {
			width: 100%;
			min-height: 100vh;
			background: $dark-background;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5vh;
			
			h2 {
				color: $white-background;
				font-size: 1.5em;
			}
			
			article {
				width: 90%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 3rem;
				
				p {
					color: $global-font-color;
					text-align: center;
				}
			}
		}
	}
}