body{
    background-color: black;
}
.pageiid{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/resources/images/gallery/slide-1.jpg);
    background-size: cover;
    .titre{
        color: azure;
        padding: 10px;
    }
    soustitre{
        display: flex;
        gap: 10px;
    }
}
.promotions{
    margin-left: 5%;
    margin-right: 5%;

}

 

.line{
    border-bottom: 1px solid  #222222; /* Ajoute une ligne de soulignement */

}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1B1B1B ;
   img{
        width: 90%;
        height: auto;
       
}
}