.promotions{

    .promotions_img{

        img{
            width: 98%;
            height: 500px;
    }
}
}

.line{

}
.underline {
    border-bottom: 1px solid black; /* Ajoute une ligne de soulignement */
  }