header {
	width: 100%;
	position: absolute;
	z-index: 3000;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: hsla(0, 0%, 0%, 0.4);
	padding-right: 1rem;
	
	figure {
		height: 100%;
		
		img {
			height: 50%;
		}
	}
	
	section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	
	nav {
		width: 70%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: -70%;
		background: $dark-background;
		z-index: 900;
		transition: $transition-5;
		
		&.left-0 {
			left: 0;
		}
		
		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			
			li {
				width: 100%;
				padding: 1em 1.5em;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				position: relative;
				border-bottom: 2px solid hsla(0, 100%, 100%, 0.1);
				
				a {
					width: 100%;
					height: 100%;
					font-weight: 700;
					color: $white-background;
					
					i {
						margin-right: 1em;
					}
				}
				
				i.plus, i.plus::after {
					width: 12px;
					height: 2px;
					background: $global-font-color;
				}
				
				i.plus {
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					
					&::after {
						content: "";
						transform: rotate(90deg);
					}
				}
			}
		}
	}
	
	div.search-containers {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0;
		left: -100vw;
		transition: $transition-5;
		background: hsla(0, 0%, 0%, 0.8);
		
		button {
			width: 5vw;
			aspect-ratio: 1/1;
			border-radius: 100px;
			border: 2px solid $global-font-color;
			display: flex;
			align-items: center;
			justify-content: center;
			background: none;
			position: absolute;
			top: 5vw;
			left: 5vw;
			cursor: pointer;
			
			i {
				color: $global-font-color;
				font-size: 2.5vw;
			}
			
			&:hover {
				border-color: $white-background;
				
				i {
					color: $white-background;
				}
			}
		}
		
		input {
			width: 60vw;
			padding-bottom: 2vh;
			background: none;
			border-bottom: 2px solid $global-font-color;
			font-size: 2vw;
			transition: $transition-5;
			color: $white-background;
			
			&:hover {
				border-color: $white-background;
			}
			
			&:focus {
				border-color: $red;
			}
		}
		
		&.left-0 {
			left: 0;
		}
	}
	
	section:nth-child(2) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 2vw;
		
		a {
			color: $white-background;
			
			&:first-child {
				width: 7vw;
				height: 7vw;
				font-weight: 700;
				border: 2px solid hsla(0, 100%, 100%, 0.5);
				border-radius: 100px;
				transition: $transition-5;
				display: flex;
				align-items: center;
				justify-content: center;
				
				&::after {
					content: "\f073";
					font-family: "Font Awesome 5 Free";
					font-weight: 400;
				}
				
				&:hover {
					border-color: $white-background;
				}
				
				&:active {
					border-color: $red;
				}
			}
			
			&:nth-child(3) {
				display: none;
			}
		}
		
		button {
			cursor: pointer;
			background: none;
			color: $white-background;
			display: flex;
			align-items: center;
			justify-content: center;
			
			i {
				font-size: 1.2em;
			}
		}
	}
	
	div#burger {
		width: 30px;
		height: 19px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: relative;
		z-index: 850;
		cursor: pointer;
		
		span {
			transition: $transition-5;
			width: 100%;
			height: 3px;
			background: $white-background;
		}
		
		&.on-click {
			
			span:nth-child(1) {
				transform: rotate(45deg) translateY(10px);
			}
			
			span:nth-child(2) {
				width: 0;
				transform: translateX(-10px);
			}
			
			span:nth-child(3) {
				transform: rotate(-45deg) translate(1px, -10.5px);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	header {
		padding: 0;
		padding-right: 3em;
		
		a, input {
			font-size: 1vw;
		}
		
		nav {
			position: unset;
			width: auto;
			height: auto;
			background: transparent;
			
			ul {
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: .5vw;
				
				li {
					border: none;
					padding: 1vw 1.5vw;
					
					&::after, &.active::after {
						position: absolute;
						content: "";
						width: 50%;
						height: 2px;
						background: $red;
						transform: rotate(-45deg);
						opacity: 0;
						transition: $transition-5;
					}
					
					&:hover::after, &.active::after {
						opacity: 1;
					}
					
					a {
						color: hsla(0, 100%, 100%, 0.7);
						text-transform: lowercase;
						
						&:hover {
							color: $white-background;
						}
					}
					
					i.plus {
						display: none;
					}
					
					&:last-child {
						display: none;
					}
				}
			}
		}
		
		section:nth-child(2) {
			
			a:first-child {
				width: auto;
				height: auto;
				padding: 1vw 2vw;
				border-radius: 20px;
				
				&::after {
					content: "Book Now!";
					font-family: 'Hind', sans-serif;
				}
			}
			
			a.sign {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: .5em;
				padding-left: 2em;
				border-left: 2px solid hsla(0, 100%, 100%, 0.3);
				margin-left: 2em;
				text-transform: uppercase;
			}
		}
	
		div#burger {
			display: none;
		}
	}
}