<section>
	<article>
		<span>01</span>
		<h2>Our Address</h2>
		<ul>
			<li>Escape Room Ltd.</li>
			<li>2390 RoadHill St. Suite 100</li>
			<li>North Downtown, NY 82153</li>
			<li>Email: <em>info@escapium.com</em></li>
			<li>Tel: +1 800 900 1248</li>
		</ul>
	</article>
	<article class="link">
		<span>02</span>
		<h2>Useful Links</h2>
		<ul>
			<li><a href="#">about</a></li>
			<li><a href="#">gallery</a></li>
			<li><a href="#">plan an event</a></li>
			<li><a href="#">pricing packages</a></li>
			<li><a href="#">faq</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</article>
	<article>
		<span>03</span>
		<h2>Working Hours</h2>
		<div>
			<ul>
				<li>Monday:</li>
				<li>Tuesday:</li>
				<li>Wednesday:</li>
				<li>Thursday:</li>
				<li>Friday:</li>
				<li>Saturday:</li>
				<li>Sunday:</li>
			</ul>
			<ul>
				<li>6pm - 11pm</li>
				<li>5pm - 11pm</li>
				<li>Closed</li>
				<li>6pm - 11pm</li>
				<li>2pm - 11pm</li>
				<li>11am - 11pm</li>
				<li>11am - 9pm</li>
			</ul>
		</div>
	</article>
	<article>
		<span>04</span>
		<h2>Social Links</h2>
		<ul>
			<li>
				<a href="#">
					<i class="fa-brands fa-facebook-f"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-yelp"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-youtube"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-google-plus-g"></i>
				</a>
			</li>
		</ul>
	</article>
</section>
<section>
	<figure>
		<img src="/hamilton-8-escapium-robin-cedric-pietro/assets/resources/images/logo/footer-logo.png" alt="logo">
	</figure>
	<cite>Copyright 2022 Escapium | All Rights Reserved</cite>
</section>