<section>
	<figure>
		<img src="/hamilton-8-escapium-robin-cedric-pietro/assets/resources/images/logo/logo.png" alt="logo escapium">
	</figure>
	<nav id="menu">
		<ul>
			<li><a href="/hamilton-8-escapium-robin-cedric-pietro/index.html">Home</a></li>
			<li><a href="/hamilton-8-escapium-robin-cedric-pietro/src/about.html">About</a></li>
			<li><a href="#">Features</a><i class="plus"></i></li>
			<li><a href="/hamilton-8-escapium-robin-cedric-pietro/src/rooms.html?key=all">Rooms</a><i class="plus"></i></li>
			<li><a href="#">Booking</a><i class="plus"></i></li>
			<li><a href="/hamilton-8-escapium-robin-cedric-pietro/src/blogs_page.html">Blog</a><i class="plus"></i></li>
			<li><a href="/hamilton-8-escapium-robin-cedric-pietro/src/contact.html">Contacts</a></li>
			<li><a href="#"><i class="fa-regular fa-user"></i>Sign in</a></li>
		</ul>
	</nav>
</section>

<section>
	<a href="" class="book"></a>
	<button id="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
	<a href="" class="sign"><i class="fa-regular fa-user"></i>sign in</a>
	<div id="burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
</section>
<div class="search-containers">
	<button class="cross" type="submit"><i class="fa-solid fa-xmark"></i></button>
	<input type="text" name="search-value" placeholder="Search...">
</div>
<script src="/hamilton-8-escapium-robin-cedric-pietro/assets/js/header.js"></script>